<div>
	<div class="mt15 ml15 app-comp">
	<div class="mt15 ml15 app-comp"> 
		<p>Welcome to GitSearch You Can <strong>Search for Github Users and Repositories</strong></p>
		<a class="btn btn-white btn-xs fs17" routerLink='/gitUser' routerLinkActive='active'>Search Git User & Repos</a>&nbsp;
		
		<a class="btn btn-white btn-xs fs17" routerLink='/gitUser' routerLinkActive='active'>Search Git User & Repos</a>&nbsp; 
	</div>
    <router-outlet></router-outlet>
    <router-outlet></router-outlet>
</div>